
.nav_head{
  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid yellow;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.profile_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
a{
  text-decoration: none;
}

.logo_img{
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
.profile_logo{
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.bottom-nav {
  /* height: 80vh; */
  
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.navbar {
  /* height: 25px; */
  position: fixed; 
  bottom:   0;
  width: 100%; 
  background-color: yellow;
  /* background-color: transparent; */
  /* z-index: 1000;  Makes sure the navbar is above other elements */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}
.navbar button{
  padding: 8px;
  margin: 8px;
  width: 40%;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  /* background-color: beige; */
}
.navbar button:hover{
  background-color: whitesmoke;
}

.selected{
  background-color: whitesmoke;
  font-weight: bolder;
  border: 0px;
}
.unselected{
  background-color: yellow;
  color: black;
  font-weight: bolder;
  border: 0px;
}